---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [975]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(50)

0          03/25/93 Total time of visit (in minutes):\n
1                        6/18/85 Primary Care Doctor:\n
2     sshe plans to move as of 7/8/71 In-Home Servic...
3                 7 on 9/27/75 Audit C Score Current:\n
4     2/6/96 sleep studyPain Treatment Pain Level (N...
5                     .Per 7/06/79 Movement D/O note:\n
6     4, 5/18/78 Patient's thoughts about current su...
7     10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                          3/7/86 SOS-10 Total Score:\n
9              (4/10/71)Score-1Audit C Score Current:\n
10    (5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC...
11                        4/09/75 SOS-10 Total Score:\n
12    8/01/98 Communication with referring physician...
13    1/26/72 Communication with referring physician...
14    5/24/1990 CPT Code: 90792: With medical servic...
15    1/25/2011 CPT Code: 90792: With medical servic...
16          4/12/82 Total time of visit (in minutes):\n
17         1; 10/13/1976 Audit C Score, Highest/Date:\n
18                  4, 4/24/98 Relevant Drug History:\n
19    ) 59 yo unemployed w referred by Urgent Care f...
20          7/21/98 Total time of visit (in minutes):\n
21                       10/21/79 SOS-10 Total Score:\n
22     3/03/90 CPT Code: 90792: With medical services\n
23     2/11/76 CPT Code: 90792: With medical services\n
24    07/25/1984 CPT Code: 90791: No medical services\n
25    4-13-82 Other Child Mental Health Outcomes Sca...
26     9/22/89 CPT Code: 90792: With medical services\n
27       9/02/76 CPT Code: 90791: No medical services\n
28                               9/12/71 [report_end]\n
29    10/24/86 Communication with referring physicia...
30       03/31/1985 Total time of visit (in minutes):\n
31       7/20/72 CPT Code: 90791: No medical services\n
32         4/12/87= 1, negativeAudit C Score Current:\n
33         06/20/91 Total time of visit (in minutes):\n
34                     5/12/2012 Primary Care Doctor:\n
35                        3/15/83 SOS-10 Total Score:\n
36    2/14/73 CPT Code: 90801 - Psychiatric Diagnosi...
37     5/24/88 CPT Code: 90792: With medical services\n
38        7/27/1986 Total time of visit (in minutes):\n
39    1-14-81 Communication with referring physician...
40    7-29-75 CPT Code: 90801 - Psychiatric Diagnosi...
41    (6/24/87) TSH-2.18; Activities of Daily Living...
42                       8/14/94 Primary Care Doctor:\n
43                     4/13/2002 Primary Care Doctor:\n
44     8/16/82 CPT Code: 90792: With medical services\n
45        2/15/1998 Total time of visit (in minutes):\n
46     7/15/91 CPT Code: 90792: With medical services\n
47                       06/12/94 SOS-10 Total Score:\n
48    9/17/84 Communication with referring physician...
49    2/28/75 Other Adult Mental Health Outcomes Sca...
dtype: object

In [1018]:
grupo1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'
grupo2 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{1,2}[,]{0,1}[+\s]\d{4})'
grupo3 = '(\d{1,2}[+\s](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
grupo4 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
grupo5 = '(\d{1,2}[/-][1|2]\d{3})'
grupo6 = '([1|2]\d{3})'

In [1019]:
full_grupo = '(%s|%s|%s|%s|%s|%s)' %(grupo1,grupo2,grupo3, grupo4, grupo5, grupo6)

In [1020]:
full_grupo

'((\\d{1,2}[/-]\\d{1,2}[/-]\\d{2,4})|((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\\S]*[+\\s]\\d{1,2}[,]{0,1}[+\\s]\\d{4})|(\\d{1,2}[+\\s](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\\S]*[+\\s]\\d{4})|((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\\S]*[+\\s]\\d{4})|(\\d{1,2}[/-][1|2]\\d{3})|([1|2]\\d{3}))'

In [1021]:
parsed_date = df.str.extractall(full_grupo)

In [1022]:
parsed_date

                  0         1    2    3    4    5     6
    match
0   0      03/25/93  03/25/93  NaN  NaN  NaN  NaN   NaN
1   0       6/18/85   6/18/85  NaN  NaN  NaN  NaN   NaN
2   0        7/8/71    7/8/71  NaN  NaN  NaN  NaN   NaN
3   0       9/27/75   9/27/75  NaN  NaN  NaN  NaN   NaN
4   0        2/6/96    2/6/96  NaN  NaN  NaN  NaN   NaN
...             ...       ...  ...  ...  ...  ...   ...
495 0          1979       NaN  NaN  NaN  NaN  NaN  1979
496 0          2006       NaN  NaN  NaN  NaN  NaN  2006
497 0          2008       NaN  NaN  NaN  NaN  NaN  2008
498 0          2005       NaN  NaN  NaN  NaN  NaN  2005
499 0          1980       NaN  NaN  NaN  NaN  NaN  1980

[501 rows x 7 columns]

In [1023]:
#parsed_date=parsed_date.drop(parsed_date.index[[501]])

In [1024]:
parsed_date[0].unique()

array(['03/25/93', '6/18/85', '7/8/71', '9/27/75', '2/6/96', '7/06/79',
       '5/18/78', '10/24/89', '3/7/86', '4/10/71', '5/11/85', '4/09/75',
       '8/01/98', '1/26/72', '5/24/1990', '1/25/2011', '4/12/82',
       '10/13/1976', '4/24/98', '5/21/77', '7/21/98', '10/21/79',
       '3/03/90', '2/11/76', '07/25/1984', '4-13-82', '9/22/89',
       '9/02/76', '9/12/71', '10/24/86', '03/31/1985', '7/20/72',
       '4/12/87', '06/20/91', '5/12/2012', '3/15/83', '2/14/73',
       '5/24/88', '7/27/1986', '1-14-81', '7-29-75', '6/24/87', '8/14/94',
       '4/13/2002', '8/16/82', '2/15/1998', '7/15/91', '06/12/94',
       '9/17/84', '2/28/75', '11/22/75', '5/24/91', '6/13/92', '7/11/71',
       '12/26/86', '10/11/1987', '3/14/95', '12/01/73', '12/5/2010',
       '08/20/1982', '7/24/95', '8/06/83', '02/22/92', '6/28/87',
       '07/29/1994', '08/11/78', '10/29/91', '7/6/91', '1/21/87',
       '11/3/1985', '7/04/82', '4-13-89', '7/11/77', '9/36/308',
       '4/12/74', '09/19/81', '9/6/79', '12/5/87', '01/05/1999',
       '4/22/80', '10/04/98', '6/29/81', '8/04/78', '7/07/1974',
       '09/14/2000', '5/18/71', '8/09/1981', '6/05/93', '8/9/97',
       '12/8/82', '8/26/89', '10/13/95', '4/19/91', '04/08/2004',
       '9/20/76', '12/08/1990', '4/11/1974', '7/18/86', '3/31/91',
       '5/13/72', '11/14/83', '8/16/92', '10/05/97', '07/18/2002',
       '9/22/82', '2/24/74', '2/03/78', '2/11/2006', '8/22/83', '5/04/74',
       '7/20/2011', '6/17/95', '6/10/72', '10/16/82', '12/15/92',
       '12/8/97', '4/05/89', '12/04/87', '6/20/77', '4/27/2006',
       '07/17/92', '12/22/98', '10/02/96', '11/05/90', '5/04/77',
       '2/27/96', '24 Jan 2001', '10 Sep 2004', '26 May 1982',
       '28 June 2002', '06 May 1972', '25 Oct 1987', '14 Oct 1996',
       '30 Nov 2007', '28 June 1994', '14 Jan 1981', '10 Oct 1985',
       '11 February 1985', '10 Feb 1983', '05 Feb 1992', '21 Oct 2012',
       '14 Feb 1995', '30 May 2016', '22 Jan 1996', '14 Oct 1992',
       '06 Oct 2003', '18 Oct 1999', '11 Nov 2004', '30 May 2001',
       '02 Feb 1978', '09 Sep 1989', '12 March 1980', '22 June 1990',
       '28 Sep 2015', '13 Jan 1972', '06 Mar 1974', '10 Oct 1974',
       '26 May 1974', '10 Feb 1990', '23 Aug 2000', '26 May 2001',
       '21 Oct 2007', '19 Oct 2016', '05 Mar 1974', '29 Jan 1994',
       '21 Oct 1978', '18 August 1975', '11 Nov 1996', '01 Oct 1979',
       '13 Oct 1986', '21 Oct 1995', '24 Jan 2011', '04 Oct 1972',
       '23 Aug 1993', '18 Oct 2006', '04 Dec 1988', '21 Oct 1983',
       '26 May 2010', '18 Jan 1990', '15 Jun 1985', '10 Dec 1982',
       '09 Dec 1988', '18 August 1995', '13 June 1974', '26 May 2008',
       '11 Nov 2002', '17 Aug 1985', '13 Oct 2016', '14 Jan 2008',
       '12 March 2004', '21 Oct 1977', '10 Aug 2000', '30 Nov 1972',
       '06 May 1993', '18 Jan 1995', 'April 11, 1990', 'May 30, 2001',
       'Feb 18, 1994', 'February 18, 1981', 'October. 11, 2013',
       'Jan 24 1986', 'July 26, 1978', 'December 23, 1999',
       'May 15, 1989', 'September 06, 1995', 'Mar. 10, 1976',
       'Jan 27, 1983', 'October 23 1990', 'August 12 2004',
       'September 01, 2012', 'July 25, 1983', 'August 11, 1989',
       'April 17, 1992', 'July 24, 1999', 'July 11, 1997',
       'Sep. 10, 1974', 'August 14, 1981', 'Nov 11, 1988',
       'June 13, 2011', 'May 14, 1989', 'Dec 14 1975', 'June 25, 2012',
       'Oct 18, 1980', 'May 15, 1998', 'October 14 1974', 'July 25, 1998',
       'June 15, 1972', 'January 07, 1991', 'September. 15, 2011',
       'September 1985', 'June 2011', 'May 1986', 'May 2016', 'July 1977',
       'July, 1990', 'Jul 2003', 'Oct 2015', 'May 1995', 'February 1976',
       'January 1995', 'Feb 1978', 'May, 2011', 'May 2004', 'Nov 2010',
       'Sep 2012', 'January, 2013', 'November 1990', 'July 1981',
       'May 1983', 'July 1995', 'April 1993', 'May 2005', 'December 1998',
       'Jan 2007', 'Feb 2016', 'August 1979', 'Oct 2014', 'Aug 1988',
       'Sep 2015', 'Apr 1976', 'Nov 1979', 'February 2000', 'Oct 1986',
       'Jun 2002', 'September 1981', 'June 2007', 'April 1989',
       'September 1999', 'Oct 1980', 'Dec 2009', 'July 1992', 'May, 2006',
       'August 2008', 'Feb 1993', 'February, 2010', 'April 1985',
       'September 1984', 'April 1986', 'Apr 2007', 'September 1974',
       'Sep 2013', 'July 1985', 'Aug 2004', 'May 2012', 'Feb 1977',
       'Jan 1987', 'Sep 1983', 'January 2013', 'Mar 2010', 'August 2009',
       'Sep 2007', 'December 2011', 'Jan 2004', 'November 1995',
       'September 2008', 'February 1983', 'March 1983', 'Aug 1979',
       'Jan 2009', 'Janaury 1993', 'March 1974', 'January 1994',
       'Dec 1992', 'November 2004', 'January 1977', 'Mar 2002',
       'Feb 2000', 'May, 2004', 'July 2006', 'Feb 1994', 'April 1977',
       'Oct 1992', 'February, 1995', 'February 1989', 'Decemeber 1978',
       'January 2007', 'Jun 1976', 'May 2011', 'Mar, 1975', 'Jan 1978',
       'July 1975', 'November 2012', 'June, 1999', 'October 1991',
       'March 1973', 'October 1996', 'Jun 2007', 'October 1995',
       'April 1999', 'May, 2001', 'March, 2000', 'April 1988',
       'December 1993', 'June 1974', 'November 1997', 'July 1986',
       'February 1973', 'March 1978', 'Dec 2007', 'Apr, 1998',
       'March, 2005', 'May 1980', 'Nov 2007', 'March 1976', '6/1998',
       '6/2005', '10/1973', '9/2005', '03/1980', '12/2005', '5/1987',
       '5/2004', '8/1974', '3/1986', '10/1997', '3/1993', '3/1981',
       '9/2003', '10/1993', '1/1983', '7/1994', '12/2008', '10/1980',
       '8/2003', '12/1975', '11/2010', '7/1997', '7/2014', '9/2001',
       '8/1986', '1/1978', '9/1975', '1/2009', '5/1995', '8/1989',
       '11/2000', '06/1973', '2/1999', '6/2001', '12/1978', '8/2009',
       '7/1973', '1/2014', '09/1975', '12/2012', '5/1999', '7/1989',
       '7/2009', '11/1998', '3/1995', '2/2009', '08/1988', '4/2007',
       '5/2000', '4/2012', '10/2001', '2/1977', '8/2008', '2/1983',
       '5/1979', '1/1992', '11/2008', '12/2014', '4/1974', '10/1981',
       '10/1986', '03/1973', '12/1994', '8/1999', '10/2010', '10/1994',
       '01/2007', '8/2010', '03/1990', '11/2016', '4/2004', '2/1973',
       '7/1987', '8/2000', '8/1975', '5/1977', '3/2000', '9/1984',
       '4/1973', '12/1986', '4/1979', '7/2004', '11/1984', '5/2016',
       '12/2007', '11/1982', '06/1981', '4/2013', '4/1999', '5/2006',
       '10/1978', '12/1989', '2/1974', '11/1986', '4/1983', '10/2014',
       '6/1989', '9/1980', '9/1992', '9/2000', '7/1981', '1/2008',
       '4/2002', '7/1985', '5/2010', '8/2002', '1/1994', '12/2004',
       '3/2003', '7/1991', '7/1982', '1984', '2000', '2001', '1982',
       '1998', '2012', '1991', '1988', '2014', '2016', '1976', '1981',
       '2011', '1997', '2003', '1983', '1999', '2010', '1975', '1972',
       '2015', '1989', '1994', '1993', '1996', '2013', '1974', '1990',
       '1995', '2004', '1987', '1973', '1992', '1977', '1985', '2007',
       '2009', '1986', '1978', '2002', '1979', '2006', '2008', '2005',
       '1980'], dtype=object)

In [1025]:
parsed_date

                  0         1    2    3    4    5     6
    match
0   0      03/25/93  03/25/93  NaN  NaN  NaN  NaN   NaN
1   0       6/18/85   6/18/85  NaN  NaN  NaN  NaN   NaN
2   0        7/8/71    7/8/71  NaN  NaN  NaN  NaN   NaN
3   0       9/27/75   9/27/75  NaN  NaN  NaN  NaN   NaN
4   0        2/6/96    2/6/96  NaN  NaN  NaN  NaN   NaN
...             ...       ...  ...  ...  ...  ...   ...
495 0          1979       NaN  NaN  NaN  NaN  NaN  1979
496 0          2006       NaN  NaN  NaN  NaN  NaN  2006
497 0          2008       NaN  NaN  NaN  NaN  NaN  2008
498 0          2005       NaN  NaN  NaN  NaN  NaN  2005
499 0          1980       NaN  NaN  NaN  NaN  NaN  1980

[501 rows x 7 columns]

In [1026]:
parsed_date = parsed_date.iloc[:,0].str.replace('Janaury', 'January').str.replace('Decemeber', 'December')

In [1027]:
parsed_date

     match
0    0        03/25/93
1    0         6/18/85
2    0          7/8/71
3    0         9/27/75
4    0          2/6/96
                ...
495  0            1979
496  0            2006
497  0            2008
498  0            2005
499  0            1980
Name: 0, Length: 501, dtype: object

In [1028]:
parsed_date = pd.Series(pd.to_datetime(parsed_date,errors='coerce'))

In [1029]:
parsed_date

     match
0    0       1993-03-25
1    0       1985-06-18
2    0       1971-07-08
3    0       1975-09-27
4    0       1996-02-06
                ...
495  0       1979-01-01
496  0       2006-01-01
497  0       2008-01-01
498  0       2005-01-01
499  0       1980-01-01
Name: 0, Length: 501, dtype: datetime64[ns]

In [1030]:
parsed_date = parsed_date.sort_values(ascending=True).index

In [1033]:
parsed_date

MultiIndex([(  9, 0),
            ( 84, 0),
            (  2, 0),
            ( 53, 0),
            ( 28, 0),
            (474, 0),
            (153, 0),
            ( 13, 0),
            (129, 0),
            ( 98, 0),
            ...
            (235, 0),
            (464, 0),
            (253, 0),
            (427, 0),
            (231, 0),
            (141, 0),
            (186, 0),
            (161, 0),
            (413, 0),
            ( 72, 1)],
           names=[None, 'match'], length=501)

In [1034]:
#cquitar MultiIndex en pandas
rest = parsed_date.droplevel(1)

In [1036]:
rest

Int64Index([  9,  84,   2,  53,  28, 474, 153,  13, 129,  98,
            ...
            235, 464, 253, 427, 231, 141, 186, 161, 413,  72],
           dtype='int64', length=501)

In [1042]:
rest= pd.Series(rest, index=range(0,501))

In [1043]:
rest

0        9
1       84
2        2
3       53
4       28
      ...
496    141
497    186
498    161
499    413
500     72
Length: 501, dtype: int64

In [1003]:
parsed_date

MultiIndex([(  9, 0),
            ( 84, 0),
            (  2, 0),
            ( 53, 0),
            ( 28, 0),
            (474, 0),
            (153, 0),
            ( 13, 0),
            (129, 0),
            ( 98, 0),
            ...
            (235, 0),
            (464, 0),
            (253, 0),
            (427, 0),
            (231, 0),
            (141, 0),
            (186, 0),
            (161, 0),
            (413, 0),
            ( 72, 1)],
           names=[None, 'match'], length=501)

In [1051]:
rest = pd.Series(rest)

In [1052]:
rest

0        9
1       84
2        2
3       53
4       28
      ...
495    231
496    141
497    186
498    161
499    413
Length: 500, dtype: int64

In [1053]:
rest.pop(500)

KeyError: 500

In [1054]:
rest

0        9
1       84
2        2
3       53
4       28
      ...
495    231
496    141
497    186
498    161
499    413
Length: 500, dtype: int64

In [1055]:
parsed_date.values

array([(9, 0), (84, 0), (2, 0), (53, 0), (28, 0), (474, 0), (153, 0),
       (13, 0), (129, 0), (98, 0), (111, 0), (225, 0), (31, 0), (171, 0),
       (191, 0), (486, 0), (335, 0), (415, 0), (36, 0), (405, 0),
       (323, 0), (422, 0), (375, 0), (380, 0), (345, 0), (57, 0),
       (481, 0), (436, 0), (104, 0), (299, 0), (162, 0), (154, 0),
       (402, 0), (95, 0), (73, 0), (108, 0), (156, 0), (332, 0), (182, 0),
       (82, 0), (351, 0), (278, 0), (214, 0), (155, 0), (223, 0),
       (473, 0), (49, 0), (317, 0), (11, 0), (319, 0), (40, 0), (418, 0),
       (165, 0), (370, 0), (382, 0), (3, 0), (50, 0), (363, 0), (219, 0),
       (465, 0), (237, 0), (23, 0), (342, 0), (204, 0), (258, 0),
       (315, 0), (27, 0), (93, 0), (17, 0), (488, 0), (303, 0), (283, 0),
       (395, 0), (309, 0), (419, 0), (123, 0), (19, 0), (117, 0),
       (232, 0), (72, 0), (189, 0), (369, 0), (493, 0), (318, 0),
       (239, 0), (148, 0), (105, 0), (336, 0), (6, 0), (200, 0), (81, 0),
       (65, 0), (434, 0), (164, 0), (378, 0), (313, 0), (495, 0),
       (424, 0), (398, 0), (5, 0), (254, 0), (296, 0), (75, 0), (167, 0),
       (21, 0), (259, 0), (499, 0), (347, 0), (150, 0), (78, 0), (340, 0),
       (441, 0), (361, 0), (267, 0), (221, 0), (466, 0), (39, 0),
       (134, 0), (197, 0), (355, 0), (430, 0), (80, 0), (444, 0),
       (246, 0), (85, 0), (215, 0), (263, 0), (74, 0), (403, 0), (458, 0),
       (16, 0), (25, 0), (127, 0), (454, 0), (70, 0), (44, 0), (59, 0),
       (103, 0), (112, 0), (429, 0), (88, 0), (179, 0), (470, 0),
       (358, 0), (205, 0), (397, 0), (294, 0), (137, 0), (295, 0),
       (35, 0), (438, 0), (247, 0), (209, 0), (61, 0), (107, 0), (285, 0),
       (175, 0), (99, 0), (455, 0), (24, 0), (275, 0), (421, 0), (48, 0),
       (426, 0), (489, 0), (136, 0), (30, 0), (274, 0), (10, 0), (178, 0),
       (1, 0), (447, 0), (280, 0), (185, 0), (228, 0), (135, 0), (69, 0),
       (492, 0), (199, 0), (352, 0), (8, 0), (276, 0), (230, 0), (334, 0),
       (96, 0), (38, 0), (368, 0), (404, 0), (261, 0), (168, 0), (29, 0),
       (437, 0), (423, 0), (54, 0), (284, 0), (485, 0), (68, 0), (32, 0),
       (349, 0), (41, 0), (63, 0), (416, 0), (55, 0), (130, 0), (116, 0),
       (76, 0), (462, 0), (330, 0), (37, 0), (390, 0), (256, 0), (216, 0),
       (174, 0), (180, 0), (476, 0), (312, 0), (265, 0), (115, 0),
       (71, 0), (218, 0), (202, 0), (440, 0), (385, 0), (373, 0),
       (210, 0), (89, 0), (149, 0), (26, 0), (7, 0), (435, 0), (482, 0),
       (177, 0), (157, 0), (412, 0), (22, 0), (194, 0), (14, 0), (151, 0),
       (233, 0), (206, 0), (245, 0), (122, 0), (94, 0), (461, 0),
       (226, 0), (97, 0), (91, 0), (51, 0), (33, 0), (453, 0), (67, 0),
       (46, 0), (322, 0), (66, 0), (399, 0), (487, 0), (138, 0), (62, 0),
       (211, 0), (52, 0), (269, 0), (119, 0), (100, 0), (442, 0),
       (310, 0), (143, 0), (301, 0), (113, 0), (478, 0), (298, 0),
       (272, 0), (354, 0), (0, 0), (249, 0), (192, 0), (86, 0), (172, 0),
       (357, 0), (331, 0), (477, 0), (450, 0), (300, 0), (163, 0),
       (308, 0), (196, 0), (47, 0), (133, 0), (359, 0), (64, 0), (42, 0),
       (409, 0), (406, 0), (483, 0), (238, 0), (193, 0), (311, 0),
       (140, 0), (388, 0), (56, 0), (236, 0), (372, 0), (110, 0),
       (248, 0), (60, 0), (181, 0), (203, 0), (326, 0), (90, 0), (169, 0),
       (292, 0), (479, 0), (142, 0), (4, 0), (124, 0), (324, 0), (121, 0),
       (131, 0), (166, 0), (468, 0), (365, 0), (213, 0), (87, 0),
       (353, 0), (101, 0), (333, 0), (114, 0), (459, 0), (45, 0),
       (338, 0), (18, 0), (222, 0), (343, 0), (20, 0), (224, 0), (12, 0),
       (79, 0), (387, 0), (251, 0), (120, 0), (471, 0), (77, 0), (376, 0),
       (432, 0), (327, 0), (384, 0), (321, 0), (212, 0), (407, 0),
       (266, 0), (145, 0), (201, 0), (456, 0), (305, 0), (260, 0),
       (420, 0), (329, 0), (392, 0), (417, 0), (190, 0), (158, 0),
       (443, 0), (83, 0), (374, 0), (457, 0), (125, 0), (328, 0),
       (159, 0), (195, 0), (147, 0), (377, 0), (367, 0), (394, 0),
       (494, 0), (304, 0), (446, 0), (43, 0), (262, 0), (128, 0),
       (102, 0), (449, 0), (184, 0), (469, 0), (452, 0), (234, 0),
       (362, 0), (356, 0), (144, 0), (291, 0), (484, 0), (188, 0),
       (414, 0), (92, 0), (350, 0), (241, 0), (306, 0), (425, 0),
       (281, 0), (207, 0), (126, 0), (302, 0), (146, 0), (451, 0),
       (498, 0), (339, 0), (250, 0), (344, 0), (346, 0), (348, 0),
       (496, 0), (106, 0), (118, 0), (270, 0), (433, 0), (307, 0),
       (173, 0), (314, 0), (410, 0), (490, 0), (252, 0), (391, 0),
       (277, 0), (325, 0), (264, 0), (289, 0), (160, 0), (341, 0),
       (132, 0), (428, 0), (337, 0), (445, 0), (497, 0), (187, 0),
       (183, 0), (396, 0), (271, 0), (293, 0), (400, 0), (360, 0),
       (297, 0), (491, 0), (371, 0), (389, 0), (386, 0), (288, 0),
       (379, 0), (268, 0), (472, 0), (273, 0), (287, 0), (448, 0),
       (176, 0), (411, 0), (408, 0), (364, 0), (242, 0), (58, 0),
       (467, 0), (170, 0), (15, 0), (240, 0), (316, 0), (229, 0),
       (217, 0), (109, 0), (227, 0), (290, 0), (460, 0), (393, 0),
       (282, 0), (34, 0), (220, 0), (208, 0), (243, 0), (139, 0),
       (320, 0), (383, 0), (244, 0), (286, 0), (480, 0), (431, 0),
       (279, 0), (198, 0), (381, 0), (463, 0), (366, 0), (439, 0),
       (255, 0), (401, 0), (475, 0), (257, 0), (152, 0), (235, 0),
       (464, 0), (253, 0), (427, 0), (231, 0), (141, 0), (186, 0),
       (161, 0), (413, 0), (72, 1)], dtype=object)

In [1056]:
def date_sorter():
    
    # Your code here
    grupo1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'
    grupo2 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{1,2}[,]{0,1}[+\s]\d{4})'
    grupo3 = '(\d{1,2}[+\s](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
    grupo4 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
    grupo5 = '(\d{1,2}[/-][1|2]\d{3})'
    grupo6 = '([1|2]\d{3})'
    
    full_grupo = '(%s|%s|%s|%s|%s|%s)' %(grupo1,grupo2,grupo3, grupo4, grupo5, grupo6)
    parsed_date = df.str.extractall(full_grupo)
    parsed_date = parsed_date.iloc[:,0].str.replace('Janaury', 'January').str.replace('Decemeber', 'December')
    parsed_date = pd.Series(pd.to_datetime(parsed_date,errors='coerce'))
    parsed_date = parsed_date.sort_values(ascending=True).index
    
    #cquitar MultiIndex en pandas
    rest = parsed_date.droplevel(1)
    rest= pd.Series(rest, index=range(0,501))
    rest = pd.Series(rest)
    rest.pop(500) 
    
    return rest # Your answer here
date_sorter()

0        9
1       84
2        2
3       53
4       28
      ...
495    231
496    141
497    186
498    161
499    413
Length: 500, dtype: int64